[Unit]
Description=CNODE's distributed currency daemon
After=network.target

[Service]
User=CNODE
Group=CNODE

Type=forking
PIDFile=/var/lib/CNODEd/CNODEd.pid

ExecStart=/usr/bin/CNODEd -daemon -pid=/var/lib/CNODEd/CNODEd.pid \
          -conf=/etc/CNODE/CNODE.conf -datadir=/var/lib/CNODEd

ExecStop=-/usr/bin/CNODE-cli -conf=/etc/CNODE/CNODE.conf \
         -datadir=/var/lib/CNODEd stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
